@import "tailwindcss";
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;

  box-shadow:
    0 2px 5px rgba(0,0,0,0.1);
}

.btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-danger {
  background: #dc2626;
}